{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
here is the about page
{% endblock %}
{% block content %}
    <p>Rango says here is the about page.</p>
    <p><a href="/rango/">back</a></p>
    <div>
        <img  width="800" src="{% static "images/rango_.jpg" %}"
             alt="Picture of Rango" /> <!-- New line -->
    </div>
    <p>This tutorial has been put together by <\your-name>\.</p>
    <img /> tag like <img src="{{ MEDIA_URL}}9347513-large.jpg">.
{% endblock content %}