{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block title %}{{ selecteduser.username }} Profile{% endblock %}
{% block content %}
    <h1>{{selecteduser.username}} Profile</h1>
    <img src="{{ MEDIA_URL }}{{userprofile.picture }}"
         width="300"
{#         height="300"#}
         alt="{{selecteduser.username}}" />
    <br/>
    <div>
        {% if selecteduser.username == user.username %}
            <form method="post" action="{% url 'rango:profile' user.username %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-primary" type="submit" value="Update" />
            </form>
        {% else %}
            <p><strong>Website:</strong> <a href="{{userprofile.website}}">
                {{userprofile.website}}</a></p>
        {% endif %}
    </div>
    <div id="edit_profile"></div>
{% endblock %}